.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .text-img {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }
  h1 {
    width: 30ch;
    font-weight: 600;
    @media (max-width: 576px) {
          width: inherit;
          text-align: center;
    }
}
}
